body {
    margin: 20px auto;
    width: 700px;
    background-color: #efefef;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 15px;
}
#page {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
header {
    padding: 20px;
    font-size: 18px;
}
footer {
    border-top: 1px solid #dddddd;
    padding: 0 20px;
}
.copyright {
    text-align: right;
    font-size: 11px;
    color: #a9a9a9;
}
.copyright a {
    color: #228b22;
}